.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

/* .background.clear._1 {
  background: linear-gradient(to bottom, #87CEEB, #B0E0E6);
}

.background.clear._0 {
  background: linear-gradient(to top, #00060c 30%, #000000);
} */

.background._1 {
  background: linear-gradient(to bottom, #4fbae4, #83d8e4);
}
.background._0 {
  background: linear-gradient(to top, #00060c 15%, #000000);
}

.background.clear._1 {
  filter: blur(5px);
}

.sunny-scene {
  background: linear-gradient(to bottom, #4fbae4, #83d8e4);
  filter: blur(10px);
}