.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.background._1 {
  background: linear-gradient(to bottom, #2f9ac4, #0ca8bd);
}
.background._0 {
  background: linear-gradient(to top, #00060c 15%, #000000);
}

.background.clear._1 {
  filter: blur(5px);
}

.background.cloudy._0 {
  background: linear-gradient(to top, #001325 15%, #000000);
}

.background.cloudy._1 {
  background: linear-gradient(to bottom, #536369, #535b64);
}

.background.l-rain._1, .background.rain._1, .background.snow._1, .background.h-snow._1 {
  background: linear-gradient(to bottom, #536369, #535b64);
  filter: blur(5px);
}

.sunny-scene {
  background: linear-gradient(to bottom, #47a8ce, #83d8e4);
  filter: blur(10px);
}